{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Criar Tarefa{% endblock %}
{% block content %}
<h2>Criar Tarefa para o Assunto: {{ assunto.nome_assunto }}</h2>
<form method="POST" class="needs-validation" novalidate>
  {{ form.hidden_tag() }}
  {{ macros.render_field(form.nome_tarefa) }}
  {{ macros.render_field(form.descricao) }}
  {{ macros.render_field(form.due_date) }}
  {{ macros.render_field(form.sort_order) }}
  {{ macros.render_field(form.horas) }}
  <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>
<p><a href="{{ url_for('main.dashboard') }}" class="btn btn-outline-secondary">Voltar</a></p>
{% endblock %}
