{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Editar Prazo{% endblock %}
{% block content %}
<h2>Editar Prazo</h2>
<form method="POST" action="{{ url_for('main.edit_prazo', prazo_id=prazo.id) }}" class="needs-validation" novalidate>
  {{ form.hidden_tag() }}
  {{ macros.render_field(form.client_existing) }}
  {{ macros.render_field(form.client_new) }}
  {{ macros.render_field(form.assunto) }}
  {{ macros.render_field(form.processo) }}
  {{ macros.render_field(form.prazo) }}
  {{ macros.render_field(form.comentarios) }}
  {{ macros.render_field(form.horas) }}  {# Campo para inserir manualmente as horas #}
  <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>
{% endblock %}
