{% extends "base.html" %}
{% block title %}AdGest{% endblock %}
{% block body_class %}index-page{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <a href="{{ url_for('main.index') }}" class="navbar-brand d-flex align-items-center">
      <img src="{{ url_for('static', filename='icons/Adgest logo principal.png') }}"
           alt="Logo AdGest"
           style="width:300px; height: 300px; object-fit: cover">
    </a>
  </div>
{% endblock %}
