{% extends "base.html" %}
{% block title %}Compartilhar Cliente{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center my-4">Compartilhar Cliente: {{ client.name }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="mb-3">
      {{ form.shared_with.label(class="form-label") }}
      {{ form.shared_with(class="form-control") }}
    </div>
    
    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    <a href="{{ url_for('main.clientes') }}" class="btn btn-secondary">Cancelar</a>
  </form>
  {% if form.errors %}
    <div class="alert alert-danger mt-3">
      {{ form.errors }}
    </div>
  {% endif %}
</div>
{% endblock %}
